body,html{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

}
p,ul,li,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
#main{
	width: 100%;
	background-color: #F2F2F2;
	overflow: hidden;
}
/*标题*/
#title{
	width: 100%;
	background-color: #3D3D3D;
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
}
#title .top{
	width: 136px;
	height: 44px;
	margin:15px auto 40px;
}
#title .top img{
	width: 100%;
}
#title .nav{
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}
#title .nav .logo{
	margin-left: 10%;
}
#title .nav a{
	text-decoration: none;
	color: #868886;
}
#title .nav a:hover{
	color: white;
}
/*内容*/
#content{ 
	width: 100%;
}
#content .video{
	width: 90%;
	margin: 130px auto 0;
}
#content .video iframe{
	width: 100%;
	height: 100%;
}
#content .img{
	width: 60%;
	margin: 20px auto;
}
#content .img img{
	width: 100%;
}
/*copy*/
#copy{
	width: 100%;
	background-color: #E0E0E0;
	overflow: hidden;
	padding-top: 10px;
}
#copy>div{
	float: left;
	width:49%;
}
#copy>div div{
	width: 100%;
}
#copy .copyImg{
	width: 98%;

	text-align: right;
	padding-right:2% ;
}
#copy .copyImg span{
	display: inline-block;
	width: 5%;
}
#copy .copyImg span img{
	width: 100%;
}
/*版权右边*/
#copy .right{
	width: 47%;
	color: #666;
	font-size: 12px;
	padding-left: 2%;
	padding-bottom: 1%;
	border-left: 1px solid #BCBCBC;
}
#copy .right p{
	margin-top: 10px;
}
#copy .right div{
	width: 20%;
}
#copy .right div img{
	width: 100%;
}